
GAME-Semesterprojekt/Library/PackageCache/com.unity.ide.visualstudio@2.0.14/Editor/AppleEventIntegration~/AppleEventIntegration.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
GAME-Semesterprojekt/Library/PackageCache/com.unity.ide.visualstudio@2.0.14/Editor/AppleEventIntegration~/AppleEventIntegration.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
GAME-Semesterprojekt/Library/PackageCache/com.unity.ide.visualstudio@2.0.14/Editor/AppleEventIntegration~/AppleEventIntegration.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
GAME-Semesterprojekt/Library/PackageCache/com.unity.ide.visualstudio@2.0.14/Editor/AppleEventIntegration~/AppleEventIntegration.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
GAME-Semesterprojekt/Library/PackageCache/com.unity.ide.visualstudio@2.0.14/Editor/AppleEventIntegration~/AppleEventIntegration.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
GAME-Semesterprojekt/Assembly-CSharp.csproj
GAME-Semesterprojekt/GAME-Semesterprojekt.sln
GAME-Semesterprojekt/Library/ArtifactDB
GAME-Semesterprojekt/Library/Artifacts/5b/5b205e9d5dc4fcd9f14432d6e45f0893
GAME-Semesterprojekt/Library/Artifacts/b5/b59240353d3f530b8e7b9edcdb35be5a
GAME-Semesterprojekt/Library/Artifacts/ca/caea246d8cdd79391735d827d408d0aa
GAME-Semesterprojekt/Library/PackageManager/ProjectCache
GAME-Semesterprojekt/Library/PackageManager/ProjectCache.md5
GAME-Semesterprojekt/Library/ScriptAssemblies/Assembly-CSharp.dll
GAME-Semesterprojekt/Library/ScriptAssemblies/Assembly-CSharp.pdb
GAME-Semesterprojekt/Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
GAME-Semesterprojekt/Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
GAME-Semesterprojekt/Logs/AssetImportWorker0-prev.log
GAME-Semesterprojekt/Logs/AssetImportWorker0.log
*.log
GAME-Semesterprojekt/Logs/AssetImportWorker0-prev.log
GAME-Semesterprojekt/Library/PackageCache/com.unity.ide.visualstudio@2.0.14/Editor/AppleEventIntegration~/AppleEventIntegration.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
GAME-Semesterprojekt/UserSettings/EditorUserSettings.asset
GAME-Semesterprojekt/Library/PackageCache/com.unity.ide.visualstudio@2.0.14/Editor/AppleEventIntegration~/AppleEventIntegration.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
